@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui;
}

.current-gif {
  margin-bottom: 10px;
}

.top-uploader {
  margin-bottom: 10px;
}

.upload-container {
  text-align: center;
  margin-top: 20px;
}

.upload-container input[type="file"] {
  margin-bottom: 10px;
}

.upload-container button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.upload-container button:disabled {
  background-color: #cccccc;
}

.upload-container p {
  margin-top: 10px;
  font-weight: bold;
}